<h3>Redirecting to eSewa...</h3>
<form action="{{ payment_url }}" method="POST" id="esewaForm">
    <input type="hidden" name="total_amount" value="{{ amount }}">
    <input type="hidden" name="transaction_uuid" value="{{ transaction_uuid }}">
    <input type="hidden" name="product_code" value="{{ product_code }}">
    <input type="hidden" name="success_url" value="{{ success_url }}">
    <input type="hidden" name="failure_url" value="{{ failure_url }}">
    <input type="hidden" name="signed_field_names" value="total_amount,transaction_uuid,product_code">
    <input type="hidden" name="signature" value="{{ signature }}">
    <noscript>
        <input type="submit" value="Pay Now">
    </noscript>
</form>

<script>
    document.getElementById('esewaForm').submit();
</script>
